.container {
  width: 90%;
  margin: auto;
}

.welcome {
  margin-top: 20px;
  font-size: 36px;
  text-align: center;
}

.guide {
  margin-top: 40px;
  font-size: 24px;
  margin-bottom: 40px;
  height: 550px;
}

.icon {
  width: 40px;
  height: 40px;
}
