@model PasswordRestoreModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Title"];
    Layout = "_Layout";
}

<h2>@Localizer["Input email address to request password restore:"]</h2>
<form asp-route="PasswordRestoreRequest">
    <input type="hidden" name="returnUrl" asp-for="ReturnUrl">

    <div class="field">
        <input type="email" name="email" class="input" placeholder=" " asp-for="Email">
        <label class="label" for="email">@Localizer["Email"]</label>
    </div>
    <span>@ViewBag.Error</span>
    <input type="submit" class="button" value=@Localizer["Send"]>
</form>
