@model PasswordRestoreModel
@inject IViewLocalizer Localizer

@{
    ViewBag.Title = @Localizer["Title"];
    Layout = "_Layout";
}

<h2>@Localizer["Password reset"]</h2>

<form asp-route="PasswordRestore">
    <div class="field">
        <input type="text" name="Password" class="input" placeholder=" " asp-for="Password">
        <label for="Password" class="label">@Localizer["Password"]</label>
    </div>

    <div class="field">
        <input type="text" name="ConfirmPassword" class="input" placeholder=" " asp-for="ConfirmPassword">
        <label for="ConfirmPassword" class="label">@Localizer["Confirm password"]</label>
    </div>

    <span asp-validation-for="Password"></span>
    <span asp-validation-for="ConfirmPassword"></span>

    <input type="submit" class="button" value=@Localizer["Reset password"]>
</form>
